

<!--author:xuyizhen-->
<!--time:2014/12/7 10:46-->
<div id="main-content"> <!-- Main Content Section with everything -->	
<div class="content-box"><!-- Start Content Box -->
<div class="content-box-content">
<div class="tab-content default-tab" id="tab2"> <!-- This is the target div. id must match the href of this div's tab -->
					
					
			
						<table id="table" >
							<thead>
								<tr>
								  <th>你好，$!{loginUser.account},欢迎登陆mycloud系统</th>
								</tr>
							</thead>
					
							<tfoot>
						<!--		<tr><td ><a href="/resources/software/spice64.msi">spice客户端下载(win64)</a></td></tr>-->
								<!--<tr><td ><a href="/resources/software/spice32.msi">spice客户端下载(win32)</a></td></tr>-->
								
								#if($!{loginUser.role.status}==1)
								<tr><td><a href="/resources/software/user.docx">手册下载</a></td></tr>
								#elseif($!{loginUser.role.status}==2)
								<tr><td><a href="/resources/software/user.docx">手册下载</a></td></tr>
								#else
								<tr><td> <a href="/resources/software/user.docx">手册下载</a></td></tr>
							 <!--   <tr><td><a href="/resources/software/spice-tools.exe">虚拟机界面增强工具</a></tr></td>-->
								#end
							</tfoot>
						 
							<tbody >
							</tbody>
						</table>
						
						



						
						
					</div> <!-- End #tab2 -->    
				</div> <!-- End .content-box-content -->
			</div> <!-- End .content-box -->		
</div> <!-- End #main-content -->

