<div id="main-content"> <!-- Main Content Section with everything -->
			
			
	<div class="content-box"><!-- Start Content Box -->
		<fieldset>		
			<p>
				<label>账号</label>
				<input class="text-input large-input" type="text" id="large-input" name="large-input" />
			</p>		
			<p>
				<label>密码</label>
				<input class="text-input large-input" type="text" id="large-input" name="large-input" />
			</p>
		</fieldset>
		<a class="button">
	</div> <!-- End .content-box -->		
			
</div> <!-- End #main-content -->
