<!--author:xuyizhen-->
<!--time:2014/12/7 10:46-->
<div id="main-content"> <!-- Main Content Section with everything -->	
<div class="content-box"><!-- Start Content Box -->
<div class="content-box-content">
<div class="tab-content default-tab" id="tab2"> <!-- This is the target div. id must match the href of this div's tab -->
					
					
									
						<table id="table">
							<thead>
								<tr>
								  <th>课程名称</th>
								  <th>任课教师账号</th>
								  <th>操作</th>
								</tr>
							</thead>
					
							<tfoot>
								<tr>
									<td colspan="3">
								    	<div class=" align-left">
											<a class="button" href="/admin/class/add/form" >添加</a>
									    </div>   
									    
									      <div class="pagination">
									        <a >总共$!totalPage页</a>
									        <a class="firstPage" >首页</a>
									        <a class="prePage" >上页</a>
									        <a class="number"  id="page" currentPage="$!currentPage" totalPage="$!totalPage"  title="current">$!currentPage</a>
									        <a class="nextPage" >下页</a>
									        <a class="lastPage" >末页</a>
									    </div>
									    
									</td>
								</tr>
							</tfoot>
						 
							<tbody >
								#foreach($class in $!classList)
								  #if($!{velocityCount}%2!=0)
								<tr class="alt-row">
								#else
								<tr>
								#end
									<td>$!class.className</td>
									<td>$!class.teacherAccount</td>
									<td>
									    
									    
									     <a   href="/admin/class/edit/form?classId=$!class.classId">
										 <img src="/resources/images/icons/pencil.png" alt="编辑" title="编辑">
                                         </a>
                                       
                                         <a  href="/admin/class/student/list?classId=$!class.classId"> 
										 <image src="/resources/images/icons/person.gif"  alt="查看选课学生" title="查看选课学生">
                                         </a>     
                                     
                                    
                                         <a class="remove" classId="$!class.classId">
										 <img src="/resources/images/icons/cross.png"  alt="删除" title="删除">
                                         </a>
										  
										
									</td>
								</tr>
								#end
							</tbody>
						</table>
						
						
						
					</div> <!-- End #tab2 -->    
				</div> <!-- End .content-box-content -->
			</div> <!-- End .content-box -->		
</div> <!-- End #main-content -->

