<!--author:xuyizhen-->
<!--time:2014/12/7 10:46-->
<div id="main-content"> <!-- Main Content Section with everything -->	
<div class="content-box"><!-- Start Content Box -->
<div class="content-box-content">
<div class="tab-content default-tab" id="tab2"> <!-- This is the target div. id must match the href of this div's tab -->
					
					
									
						<table id="table" >
							<thead>
								<tr>
								  <th>物理机名称</th>
								  <th>物理机IP</th>
								  <th>物理机状态</th>
								  <th>操作</th>
								</tr>
							</thead>
					
							<tfoot>
								<tr>
									<td colspan="6">
										<div class=" align-left">
											<a class="button" href="/admin/host/add/form" >添加</a>
									    </div>   
									 
									    
									    <div class="pagination">
									        <a >总共$!totalPage页</a>
									        <a class="firstPage" >首页</a>
									        <a class="prePage" >上页</a>
									        <a class="number"  id="page" currentPage="$!currentPage" totalPage="$!totalPage"  title="current">$!currentPage</a>
									        <a class="nextPage" >下页</a>
									        <a class="lastPage" >末页</a>
									    </div>
									    
									</td>
								</tr>
							</tfoot>
						 
							<tbody >
								#foreach($host in $!hostList)
								  #if($!{velocityCount}%2!=0)
								<tr class="alt-row">
								#else
								<tr>
								#end
									<td>$!host.hostName</td>
									<td>$!host.hostIp</td>
									<td>$!host.hostStatusEnum.desc</td>
									<td>
										 <a   href="/admin/host/edit/form?hostId=$!host.hostId">
										 <img src="/resources/images/icons/pencil.png" alt="编辑" tittle="编辑">
                                         </a>
										 <a class="remove" hostId="$!host.hostId">
										<img src="/resources/images/icons/cross.png" alt="删除" tittle="删除">
                                         </a> 
									</td>
								</tr>
								#end
							</tbody>
						</table>
						
						
						
					</div> <!-- End #tab2 -->    
				</div> <!-- End .content-box-content -->
			</div> <!-- End .content-box -->		
</div> <!-- End #main-content -->

