<div id="main-content"> <!-- Main Content Section with everything -->	
<div class="content-box"><!-- Start Content Box -->
<div class="content-box-content">
<div class="tab-content default-tab" id="tab2"> <!-- This is the target div. id must match the href of this div's tab -->
						
						
						
						   <form>
						  <fieldset>
						   
						   <p>
						   <label>总线类型</label>
						       <select id="diskBusType"  name="diskBusType" class="small-input"> 
						         <option value="1" selected>virtio</option>
						         <option value="2">scsi</option>
						         <option value="3">ide</option>
						       </select>
						   </p>
						   
						    <p>
						   <label>接口类型</label>
						       <select id="interfaceType"  name="interfaceType" class="small-input"> 
						         <option value="1" selected>virtio</option>
						         <option value="2">rtl8139</option>
						       </select>
						   </p>
						   
						   
						   <p>
						           
						           		 <a class=" button addImage" fileName="$!fileName"> 添加为模板 </a>
                                         
						   </p>
						
						   </fieldset>
						   
						   <form>
						
						
					</div> <!-- End #tab2 -->    
				</div> <!-- End .content-box-content -->
			</div> <!-- End .content-box -->		
</div> <!-- End #main-content -->

