<div id="main-content"> <!-- Main Content Section with everything -->	
<div class="content-box"><!-- Start Content Box -->
<div class="content-box-content">
<div class="tab-content default-tab" id="tab2"> <!-- This is the target div. id must match the href of this div's tab -->
						
						
						  <table>
						   <tr>
						   <td><input type="hidden"  id="vmUuid" value="$!vm.vmUuid"/>
						   <input type="hidden"  id="preName" value="$!vm.vmName"/>
						   <input type="hidden"  id="preShowType" value="$!vm.showType.value"/>
						   <input type="hidden"  id="preVmDesc" value="$!vm.vmDesc"/>
						   <input type="hidden"  id="preShowPassword" value="$!vm.vmPass"/>
						   <input type="hidden"  id="vmVcpu" value="$!vm.vmVcpu"/>
						   <input type="hidden"  id="vmMemory" value="$!vm.vmMemory"/>
						   <input type="hidden"  id="preVmNetworkType" value="$!vm.vmNetworkType.value"/>
						   </td>
						   <td></td>
						   </tr>
						   
								
						   <tr>
						   <td><label for="vmName">虚拟机名称</label></td>
						   <td><input type="text"  id="vmName" value="$!vm.vmName"/></td>
						   </tr>
						   
						    <tr>
						   <td><label for="vmDesc">虚拟机描述</label></td>
						   <td><input type="text"  id="vmDesc" value="$!vm.vmDesc"/></td>
						   </tr>
						   
						   <tr>
						   <td><label for="vmPassword">远程访问密码</label></td>
						   <td>
						      <span id="box">
						      <input type="password"  id="vmPassword" value="$!vm.vmPass">
						      <a href="javascript:showPass()" class="button" >显示密码</a>  
						      
						      </span>
						   </td>
						   </tr>
						   
						   
						   		  
						   <tr>
						   <td><label for="showType">访问方式</label></td>
						   <td>
						       <select id="showType" > 
						         <option value="1">SPICE</option>
						         <option value="2">VNC</option>
						       </select>
						   </td>
						   </tr>
						   
						       <tr>
						       <td>
						   <label>网络类型</label></td>
						   <td>
						       <select id="vmNetworkType"  name="vmNetworkType" class="small-input"> 
						         <option value="1">NAT</option>
						         <option value="2">桥接</option>
						       </select>
						   </td>
						   </tr>
						   
						   					  
						   <tr>
						   <td><a class="button edit" >修改</a></td>
						   <td><a class="button resetEdit" >重置</a></td>
						   </tr>
						   </table>
					
						
						
						
						
					</div> <!-- End #tab2 -->    
				</div> <!-- End .content-box-content -->
			</div> <!-- End .content-box -->		
</div> <!-- End #main-content -->

