<!--author:xuyizhen-->
<!--time:2014/12/7 10:46-->
<div id="main-content"> <!-- Main Content Section with everything -->	
<div class="content-box"><!-- Start Content Box -->
<div class="content-box-content">
<div class="tab-content default-tab" id="tab2"> <!-- This is the target div. id must match the href of this div's tab -->
					
					
									
						<table id="table" >
							<thead>
								<tr>
								   <th>虚拟机名称</th>
								   <th>所属课程</th>
								   <th>状态</th>
								   <th>访问地址</th>
								   <th>访问方式</th>								   
								   <th>操作</th>
								</tr>
							</thead>
					
							<tfoot>
								<tr>
									<td colspan="6">
										  
									    <div class="align-right">
									        <a class="button" >总共$!totalPage页</a>
									        <a class="button firstPage">首页</a>
									        <a class="button prePage" >上页</a>
									        <a class="button "  id="page" currentPage="$!currentPage" totalPage="$!totalPage">$!currentPage</a>
									        <a class="button nextPage" >下页</a>
									        <a class="button lastPage" >末页</a>
									    </div>
									</td>
								</tr>
							</tfoot>
						 
							<tbody >
								#foreach($vm in $!vmList)
								<tr>
									<td>$!vm.vmName</td>
									<td>$!vm.vmClass</td>
									<td>$!vm.vmStatus</td>
									<td>$!vm.hostIp:$!vm.showPort</td>
									<td>$!vm.showType</th>
									<td>
										 <a class="button"  href="/student/vm/edit/form?vmUuid=$!vm.vmUuid">编辑</a>
										 <a class="button remove" hostId="$!host.hostId">删除</a> 
									</td>
								</tr>
								#end
							</tbody>
						</table>
						
						
						
					</div> <!-- End #tab2 -->    
				</div> <!-- End .content-box-content -->
			</div> <!-- End .content-box -->		
</div> <!-- End #main-content -->

